:root {
  /* Unicode range for Vietnamese characters.
  Based on http://vietunicode.sourceforge.net/charset/ */
  --vn-unicode-range: U+00C0 - U+00C3, U+00C8 - U+00CA, U+00CC - U+00CD,
    U+00D2 - U+00D5, U+00D9 - U+00DA, U+00DD, U+00E0 - U+00E3, U+00E8 - U+00EA,
    U+00EC - U+00ED, U+00F2 - U+00F5, U+00F9 - U+00FA, U+00FD, U+0102 - U+0103,
    U+0110 - U+0111, U+0128 - U+0129, U+0168 - U+0169, U+01A0 - U+01B0,
    U+1EA0 - U+1EF9;
}

/* SVN Poppins - Vietnamese */

@font-face {
  font-family: "Poppins";
  src: url("./fonts/woff2/SVN-Poppins-Light.woff2") format("woff2"),
    url("./fonts/woff/SVN-Poppins-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  font-display: swap;
  line-height: normal;
  letter-spacing: normal;
  unicode-range: var(--vn-unicode-range);
}

@font-face {
  font-family: "Poppins";
  src: url("./fonts/woff2/SVN-Poppins-Regular.woff2") format("woff2"),
    url("./fonts/woff/SVN-Poppins-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  font-display: swap;
  line-height: normal;
  letter-spacing: normal;
  unicode-range: var(--vn-unicode-range);
}

@font-face {
  font-family: "Poppins";
  src: url("./fonts/woff2/SVN-Poppins-Medium.woff2") format("woff2"),
    url("./fonts/woff/SVN-Poppins-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  font-display: swap;
  line-height: normal;
  letter-spacing: normal;
  unicode-range: var(--vn-unicode-range);
}

@font-face {
  font-family: "Poppins";
  src: url("./fonts/woff2/SVN-Poppins-SemiBold.woff2") format("woff2"),
    url("./fonts/woff/SVN-Poppins-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  font-display: swap;
  line-height: normal;
  letter-spacing: normal;
  unicode-range: var(--vn-unicode-range);
}

@font-face {
  font-family: "Poppins";
  src: url("./fonts/woff2/SVN-Poppins-Bold.woff2") format("woff2"),
    url("./fonts/woff/SVN-Poppins-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  font-display: swap;
  line-height: normal;
  letter-spacing: normal;
  unicode-range: var(--vn-unicode-range);
}

@font-face {
  font-family: "Poppins";
  src: url("./fonts/woff2/SVN-Poppins-Black.woff2") format("woff2"),
    url("./fonts/woff/SVN-Poppins-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
  font-display: swap;
  line-height: normal;
  letter-spacing: normal;
  unicode-range: var(--vn-unicode-range);
}

/* Poppins - Latin */
/* The Latin version should be declared last
so that the browser can fallback on it by default.
This is preferable since it has a smaller file size. */

@font-face {
  font-family: "Poppins";
  src: url("./fonts/woff2/Poppins-Light.woff2") format("woff2"),
    url("./fonts/woff/Poppins-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  font-display: swap;
  line-height: normal;
  letter-spacing: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("./fonts/woff2/Poppins-Regular.woff2") format("woff2"),
    url("./fonts/woff/Poppins-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  font-display: swap;
  line-height: normal;
  letter-spacing: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("./fonts/woff2/Poppins-Medium.woff2") format("woff2"),
    url("./fonts/woff/Poppins-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  font-display: swap;
  line-height: normal;
  letter-spacing: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("./fonts/woff2/Poppins-SemiBold.woff2") format("woff2"),
    url("./fonts/woff/Poppins-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  font-display: swap;
  line-height: normal;
  letter-spacing: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("./fonts/woff2/Poppins-Bold.woff2") format("woff2"),
    url("./fonts/woff/Poppins-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  font-display: swap;
  line-height: normal;
  letter-spacing: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("./fonts/woff2/Poppins-Black.woff2") format("woff2"),
    url("./fonts/woff/Poppins-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
  font-display: swap;
  line-height: normal;
  letter-spacing: normal;
}
